[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulumi = "*"
fart = "*"
lolcat = "*"
passlib = "*"
pulumi-docker = "*"
pulumi-kubernetes = "*"
setuptools-git-versioning = "*"
pyyaml = "*"
wheel = "*"
nodeenv = "*"
pulumi-digitalocean = "*"
pulumi-linode = "*"
linode-cli = "*"
pulumi-aws = "*"
pulumi-eks = "*"
awscli = "*"

[requires]
python_version = "3.12"
