PyYAML==5.4.1
arpeggio==1.10.2
attrs==21.4.0
awscli==1.22.99
botocore==1.24.44
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.3
dill==0.3.4
docutils==0.15.2
fart==0.1.5
grpcio==1.43.0
idna==3.3
jmespath==1.0.0
linode-cli==5.17.2
lolcat==1.4
packaging==21.3
parver==0.3.1
passlib==1.7.4
protobuf==3.20.0
pulumi-aws==4.38.1
pulumi-digitalocean==4.11.1
pulumi-docker==3.1.0
pulumi-eks==0.37.1
pulumi-kubernetes==3.16.0
pulumi-linode==3.7.1
pyasn1==0.4.8
pycryptodome==3.14.1
pyparsing==3.0.8
pyperclip==1.8.2
python-dateutil==2.8.2
requests==2.27.1
rsa==4.7.2
s3transfer==0.5.2
semver==2.13.0
setuptools==62.1.0
setuptools-git-versioning==1.9.2
six==1.16.0
terminaltables==3.1.10
toml==0.10.2
urllib3==1.26.9
yamlreader==3.0.4
GitPython==3.1.27
gitdb==4.0.9
smmap==5.0.0
nodeenv~=1.6.0
pulumi~=3.32.0