config:
  # These parameters define the name of the database and the database credentials
  # used by the Bank of Anthos ledger application.
  #
  # Note that the encrypted password is a required value; Pulumi will abort the Bank of Anthos
  # deployment if no password is provided.
  # anthos:ledger_pwd: Password # Required
  anthos:ledger_admin: admin
  anthos:ledger_db: postgresdb

  # This optional parameter supplies a hostname for the Bank of Anthos Ingress
  # controller. If not set, the FQDN of the LB is used.
  #anthos:hostname: demo.example.com

  # These parameters define the name of the database and the database credentials
  # used by the Bank of Anthos accounts application.
  #
  # Note that the encrypted password is a required value; Pulumi will abort the Bank of Anthos
  # deployment if no password is provided.
  #anthos:accounts_pwd: Password # Required
  anthos:accounts_admin: admin
  anthos:accounts_db: postgresdb

  # Prometheus Configuration
  anthos:chart_version: 2.3.5
  # Chart version for the Pulumi chart for prometheus
  anthos:helm_repo_name: prometheus-community
  # Name of the repo to pull the prometheus chart from
  anthos:helm_repo_url: https://prometheus-community.github.io/helm-charts
