PyYAML~=5.4.1
awscli~=1.19.111
fart~=0.1.5
lolcat~=1.4
nodeenv~=1.6.0
passlib~=1.7.4
pulumi-aws~=4.12.0
pulumi-docker~=3.0.0
pulumi-eks>=0.30.0
pulumi-kubernetes~=3.5.0
pulumi~=3.6.1
pycryptodome~=3.10.1
requests~=2.26.0
setuptools~=57.1.0
wheel~=0.36.2
yamlreader==3.0.4
