awscli~=1.20.6
fart~=0.1.5
lolcat~=1.4
nodeenv~=1.6.0
passlib~=1.7.4
pulumi~=3.8.0
pulumi-aws~=4.14.0
pulumi-docker~=3.0.0
pulumi-eks>=0.31.0
pulumi-kubernetes~=3.5.1
pycryptodome~=3.10.1
PyYAML~=5.4.1
requests~=2.26.0
setuptools~=57.4.0
wheel~=0.36.2
yamlreader==3.0.4