awscli~=1.21.4
fart~=0.1.5
lolcat~=1.4
nodeenv~=1.6.0
passlib~=1.7.4
pulumi~=3.22.1
pulumi-aws>=4.34.0
pulumi-docker~=3.1.0
pulumi-eks>=0.36.0
pulumi-kubernetes~=3.14.0
pycryptodome~=3.11.0
PyYAML~=5.4.1
requests~=2.26.0
setuptools==58.3.0
wheel==0.37.0
yamlreader==3.0.4
