awscli~=1.22.48
fart~=0.1.5
lolcat~=1.4
nodeenv~=1.6.0
passlib~=1.7.4
pulumi~=3.23.2
pulumi-aws>=4.37.1
pulumi-docker~=3.1.0
pulumi-eks>=0.36.0
pulumi-kubernetes~=3.15.1
pycryptodome~=3.14.0
PyYAML~=5.4.1
requests~=2.27.1
setuptools==60.7.1
wheel==0.37.1
yamlreader==3.0.4
