awscli~=1.22.63
fart~=0.1.5
lolcat~=1.4
nodeenv~=1.6.0
passlib~=1.7.4
pulumi~=3.25.0
pulumi-aws>=4.37.5
pulumi-docker~=3.1.0
pulumi-eks>=0.37.1
pulumi-kubernetes~=3.16.0
pycryptodome~=3.14.0
PyYAML~=5.4.1
requests~=2.27.1
setuptools==60.9.3
wheel==0.37.1
yamlreader==3.0.4
