name: Pulumi AWS Tests

on:
  - pull_request
  - push

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
    - uses: syphar/restore-virtualenv@v1
      id: pulumi-aws-tests-cache-virtualenv
      with:
        requirement_files: pulumi/aws/requirements.txt

    - uses: syphar/restore-pip-download-cache@v1
      if: steps.pulumi-aws-tests-cache-virtualenv.outputs.cache-hit != 'true'

    # Install wheel manually so that requirements install will happen quicker.
    - run: pip install wheel

    # The package installation will only be executed when requirements.txt is changed.
    - run: pip install -r pulumi/aws/requirements.txt
      if: steps.pulumi-aws-tests-cache-virtualenv.outputs.cache-hit != 'true'

    # Install utilities module used in Pulumi projects
    - run: pip install pulumi/aws/kic-pulumi-utils

    - name: Test
      run: pulumi/aws/test.py